<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>View Expenses</title>
    <style>
        * {
        margin: 0;
        padding: 0;
        }
       body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #17202A; 
       }
       .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.8rem;
       }
       h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        color: white;
       }
     
       table {
        width: 60%;
       }
       table thead th{
        font-size: 1.4rem;
        text-transform: uppercase;
        background-color: orange;
        padding: 0.6rem 2rem;
       }
      
       tbody tr td {
        font-size: 1.2rem;
        background-color: aliceblue;
        padding: 0.6rem 3rem;
        text-align: center;
       }
       .update, form .delete {
        text-decoration: none;
        color: rgb(45, 76, 232);
        font-size: 1rem;
        cursor: pointer;
       }
       form .delete {
        padding: 0.4rem 0.8rem;
        margin-top: 0.5rem;
        outline: none;
        border: none;
        background-color: rgb(218, 218, 240);
        color: red;
        border-radius: 5px;
       }
      
       .add_expense {
        color: white;
        text-decoration: none;
        padding: 0.7rem 2rem;
        background-color: orange;
        border-radius: 6px;
        margin-top: 5px;
        font-size: 1rem;
        font-weight: 500;
       }
       .foot {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       }
    </style>
</head>

<body>
    <div class="container">
    <h1>Expense List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% expenses.forEach(expense => { %>
                <tr>
                    <td><%= expense.id %></td>
                    <td><%= expense.item %></td>
                    <td><%= expense.price %></td>
                    <td>
                        <a href="/update/<%= expense.id %>" class="update">Update</a>
                        <form action="/delete/<%= expense.id %>" method="post">
                            <button type="submit" class="delete">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        
    </table>
    <div class="foot">
    <nav>
        <a href="/add" class="add_expense">Add Expense</a>
    </nav>
    <div class="total-containre">
        <p class="total add_expense">Total : $ <%= total%></p>
    </div>
</div>
</div>
</body>
</html>


